<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>कृषि उत्पन्न बाजार समिती, लासूर</title>
    <style>
        table, th, tr {
            border: 1px solid #000;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>पावती क्रमांक</th>
            <th>शेतकर्‍याचे नाव</th>
            <th>फॉर्म दाखल केल्याची तारीख</th>
            <th>आधार कार्ड प्रत</th>
            <th>पासबुक प्रत</th>
            <th>7/12 प्रत</th>
            <th>माहिती</th>
        </tr>
        <% for (let farmer of farmers) { %>
            <tr>
                <th> <%= farmer.receiptNo %> </th>
                <th> <%= farmer.farmerName %> </th>
                <th> <%= farmer.dateOfFormSubmitted %>  </th>
                <th> <a href="../public/uploads/<%= farmer.aadhar %>"> Aadhar copy </a> </th>
                <th> <a href="../public/uploads/<%= farmer.passbook %>"> Passbook copy </a> </th>
                <th> <a href="../public/uploads/<%= farmer.landDoc %>"> 7/12 copy </a> </th>
                <th> <a href="../pdfOutput/<%=  farmer.outputFile  %>"> View full information </a> </th>
            </tr>
        <% } %>
    </table>
</body>
</html>